# Files
.env
*.log
.Zone.Identifier
.DS_Store
auth.json

# Folders
vendor/
dist/
node_modules/

docker/web/sites/**/public/*

# Exceptions
!docker/web/sites/**/public/.gitkeep
!docker/web/sites/**/*.log